.navBar {
    min-height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightsalmon;
    padding: 0 15px;
}

.navBar__links a {
    margin-right: 0;
    color: black;
    margin: 40px;
    text-decoration: none;
}

.navBar__links a:hover {
    color: white;
    transition: 0.3s ease;
}
.navBar button{
    color:white;
    background-color: rgb(90, 79, 79);
    font-size: 15px;
}
