.navBar {
    min-height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightsalmon;
    padding: 0 15px;
}

.menu a {
    margin-right: 0;
    color: black;
    margin: 40px;
    text-decoration: none;
}

.mobile_btn {
    display: none;
}

.menu a:hover {
    color: white;
    transition: 0.3s ease;
}

.navBar button {
    color: rgb(90, 79, 79);
    border: 1px solid rgb(90, 79, 79);
    font-size: 15px;
}

.navBar button:hover {
    color: white;
    border: 1px solid white;
    transition: 0.3s ease;
}

@media (max-width: 1280px) {
    .mobile_btn {
        display: block;
        left: 30px;
        top: 15px;
        cursor: pointer;
        z-index: 10;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: -100%;
        right: 0;
        top: 0;
        bottom: 0;
        width: 55%;
        height: 60%;
        background-color: lightsalmon;
        z-index: 10;
        transition: left 0.3s ease;
        border-bottom-right-radius: 20px;
        border: 1px solid rgb(126, 125, 125);
    }

    .active {
        left: 0;
    }

    .menu a {
        font-size: 20px;
    }
}
