input[type="radio"] {
    appearance: none;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid lightsalmon;
    border-radius: 30%;
    transform: translateY(-0.075em);
    cursor: pointer; 
}
input:checked {
    background-color: lightsalmon;
    transition: 0.5s ease;
}
