.myBtn{
    padding: 5px 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffa07a;
}
.myBtn:hover{
    opacity: 0.8;
    transition: 0.5s;
}
