.requestStatus {
    text-align: center;
    background-color: darkgray;
    width: 30%;
    border-radius: 10px;
}

.requestConfirmationButtons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
}

.requestConfirmationButtons button {
    height: 35px;
    width: 50%;
    margin: 10px;
}

.userRequestItem p {
    text-align: center;
    height: 35px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rejectedRequestStatus {
    background-color: rgb(253, 213, 213);
}

.appliedRequestStatus {
    background-color: rgb(228, 227, 226);
}

.confirmedRequestStatus {
    background-color: rgb(221, 241, 219);
}
.finishedAdvertStatus{
    background-color: rgb(255, 238, 213);
}

.userRequestItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userRequestItem:hover {
    cursor: pointer;
    transition: ease 0.3s;
    box-shadow: none;
}

.switchPart{
    margin-top: auto;
}
