.requestStatus {
    text-align: center;
    background-color: darkgray;
    width: 30%;
    border-radius: 10px;
}

.requestConfirmationButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.requestConfirmationStatus p {
    background-color: rgb(228, 227, 226);
}

.requestConfirmationButtons button {
    padding: 10px;
    margin-top: 10px;
    width: 40%;
    margin: 10px 5px 0px 5px;
}

.userRequestItem p {
    text-align: center;
    height: 35px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rejectedRequestStatus p {
    background-color: rgb(253, 213, 213);
}

.appliedRequestStatus p {
    background-color: rgb(228, 227, 226);
}

.confirmedRequestStatus {
    background-color: rgb(221, 241, 219);
    margin-bottom: 45px;
}

.finishedAdvertStatus p {
    background-color: rgb(255, 238, 213);
}

.finishedAdvertStatus button,
.appliedRequestStatus button,
.rejectedRequestStatus button {
    background-color: rgb(228, 74, 74);
    padding: 10px;
    margin-top: 10px;
    width: 50%;
}

.finishedAdvertStatus,
.appliedRequestStatus,
.rejectedRequestStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userRequestItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userRequestItem:hover {
    cursor: pointer;
    transition: ease 0.3s;
    box-shadow: none;
}

.switchPart {
    margin-top: auto;
}
