.advertsPage {
    width: 85%;
    height: 100%;
}

.advertsGrid {
    flex: 3;
    height: 100%;
}

.filters {
    margin-top: 50px;
    flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filters>* {
    margin: 10px;
}

.advertsAndFilters {
    height: 100%;
    display: flex;
}
