.myForm {
    border: 2px solid lightsalmon;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(253, 246, 235, 0.5)
}
