.userAdvertButtons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userAdvertButtons button{
    width:50%;
    margin: 5px;
    height: 40px;
}

.userAdvertItem{   
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.userAdvertItem:hover{
    cursor: pointer;
    transition: ease 0.3s;
    box-shadow: none;
}
.requestsCount{
    text-align: center;
    color: rgb(146, 141, 141);
}
