.addDatesButton {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    height: 40px;

}

.addDatesButton button {
    margin:0px 5px;
    height: 40px;
}

.myProfilePage {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
