.userInRequestContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userInRequestContent:hover {
    cursor: pointer;
    transition: ease 0.3s;
    box-shadow: none;
}

.userInRequestPhoto {
    flex: 1;
    text-align: center;
}

.userInRequestButtons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userInRequestButtons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userInRequestButtons button{
    width:50%;
    margin: 5px;
    height: 40px;
}
.chosenPerformer{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    background-color: rgb(241, 240, 240);
}
