.certainAdvertContent {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 60%;
    font-size: 2.5vh;
}

.imgBlock {
    display: flex;
    flex: 1.5;
    align-items: center;
    justify-content: space-around;
}

.imageInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

.headerInfo {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.imgBlock img {
    width: 60%;
    min-width: 150px;
    border-radius: 10px;
    padding: 3px;
}

.advertInfoBlock {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.ownerInfoBlock {
    width: 100%;
    flex: 1;
    display: flex;
}
.ownerPhoto{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:10px 0;
}
.ownerPhoto img{
    width:25%;
    min-width: 100px;
    height:auto;
}
.ownerInfo{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advertInfoBlock{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
