.registrationPage {
    width: 30%;
    min-width: 400px;
}

.names {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sex {
    margin-top: 20px;
    flex-direction: row;
    width: 40%;
}

.sex label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:focus {
    background-color: rgb(241, 236, 234);
    transition: 0.3s ease;
    outline: none;
}

.loginRedirect{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:10px;
    color:rgb(109, 106, 105);
}

.loginRedirect a {
    margin-right: 0;
    color: lightsalmon;;
    text-decoration: none;
}

.loginRedirect a:hover {
    color: rgb(109, 106, 105);
    transition: 0.3s ease;
}
